@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 25, 23;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 247, 243;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  min-height: 100vh;
}

@layer utilities {
  .wine-gradient {
    background: linear-gradient(135deg, #7a1c3c 0%, #440a1d 100%);
  }
  .gold-gradient {
    background: linear-gradient(135deg, #de9a21 0%, #a35618 100%);
  }
}
